@model WebStore_Edu.Models.Employee

<div class="container">
    <h3>Сотрудник: @Model.LastName @Model.FirstName</h3>

    <table>
        <thead>
        <tr />
        <tr />
        </thead>
        <tbody>
        <tr>
            <td>Фамилия</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>@Model.Birthday.ToString("d MMMM yyyy")</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Должность</td>
            <td>@Model.Position</td>
        </tr>

        </tbody>
    </table>
    <hr/>
    <a asp-action="Index">Вернуться к списку сотрудников</a>
</div>

