@model IEnumerable<WebStore_Edu.Models.Employee>

@{
    ViewData["Title"] = "Сотрудники";
}

<div class="container">
    <h2>Список сотрудников</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th/>
            <th/>
        </tr>
        </thead>
        <tbody>
        @foreach (var empl in Model)
        {
            <tr>
                <td>@empl.LastName</td>
                <td>@empl.FirstName</td>
                <td>@empl.Patronymic</td>
                <td>@empl.Age</td>
                <td>
                    <a asp-controller="Employees" asp-action="EmployeeInfo" asp-route-id="@empl.Id">Подробно</a>
                </td>
                <td>
                    <a asp-controller="Employees" asp-action="EmployeeEdit" asp-route-id="@empl.Id">Изменить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr/>
    <a asp-controller="Home" asp-action="Index">Домой</a>
</div>
