@model IEnumerable<UserOrderViewModel>

@{
    ViewData["Title"] = "Список заказов";
    Layout = "_UserProfileLayout";
}

<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Дата создания</th>
        <th>Сумма</th>
        <th>Примечания</th>
        <th>Статус</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model!)
    {
        <tr>
            <td>@order.Id.ToString("0000")</td>
            <td>@order.Date.ToString("dd MMMM yyyy в HH:mm")</td>
            <td>@order.TotalPrice.ToString("C")</td>
            <td>@order.Notes</td>
            <td>@Html.DisplayTextFor(_ => order.OrderStatus)</td>
            <td>
                <a href="#">Состав заказа</a>
            </td>
        </tr>
    }
    </tbody>
</table>
