@model WebStore_Edu.Domain.ViewModels.CartOrderViewModel

@{
    ViewData["Title"] = "Оформление заказа";

    if (!Model.Cart.Items.Any())
    {
        <div class="container">
            <h2>Корзина пуста. Нечего оформлять...</h2>
        </div>
        return;
    }
}

<div class="container">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Оформление заказа</li>
        </ol>
    </div><!--/breadcrums-->

    <div class="row">
        <div class="col-sm-4">
            <div class="shopper-info">
                <p>Инфрмация о покупателе</p>
                <partial name="Partial/_OrderCreation" model="@Model.Order"/>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="shopper-info">
                <p>Детали заказа</p>
            </div>
            <table class="table">
                <thead>
                <tr class="cart_menu">
                    <th>Товар</th>
                    <th></th>
                    <th>Количество</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.Cart.Items)
                {
                    <tr>
                        <td>
                            <a asp-controller="Shop" asp-action="ProductDetails" asp-route-Id="@item.Product.Id">
                                <img height="80" src="~/images/shop/@item.Product.ImageUrl">
                            </a>
                        </td>
                        <td class="cart_description">
                            <h4>
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-Id="@item.Product.Id">
                                    @item.Product.Name
                                </a>
                            </h4>
                            <p>Артикул: @item.Product.Id.ToString("00000")</p>
                        </td>
                        <td>
                            <p>@item.Quantity</p>
                        </td>
                        <td>
                            <p>@((item.Product.Price * item.Quantity).ToString("C"))</p>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
            <div>
                <H4>Итого: @Model.Cart.TotalPrice.ToString("C")</H4>
            </div>
        </div>
    </div>


</div>
<!--/#cart_items-->
