@model WebStore_Edu.Domain.ViewModels.BreadCrumbsViewModel

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li >
            <a asp-controller="Shop" asp-action="Index">Каталог</a>
        </li>
        @if (Model.ParentSection is {} parentSection)
        {
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-SectionId="@parentSection.Id">@parentSection.Name</a>
            </li>
        }
        @if (Model.Section is {} childSection)
        {
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-SectionId="@childSection.Id">@childSection.Name</a>
            </li>
        }
        @if (Model.Brand is {} brand)
        {
            <li>
                <a asp-controller="Shop" asp-action="Index" asp-route-BrandId="@brand.Id">@brand.Name</a>
            </li>
        }
        @if (Model.ProductName is {} name)
        {
            <li>
                @name
            </li>
        }
    </ol>
</div>