@using WebStore_Edu.Domain.Identity
@model IEnumerable<WebStore_Edu.Domain.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Сотрудники";
    Layout = "_LayoutContainer";
}

<h2>Список сотрудников</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e =>e.LastName)</th>
                <th>@Html.DisplayNameFor(e =>e.FirstName)</th>
                <th>@Html.DisplayNameFor(e =>e.Patronymic)</th>
                <th>@Html.DisplayNameFor(e =>e.Age)</th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var empl in Model)
            {
                <tr>
                    <td>@empl.LastName</td>
                    <td>@empl.FirstName</td>
                    <td>@empl.Patronymic</td>
                    <td>@empl.Age</td>
                    <td>
                        <div class="fa fa-info">
                            <a asp-controller="Employees" asp-action="EmployeeInfo" asp-route-id="@empl.Id">Подробно</a>
                        </div>
                        @if (User.IsInRole(Role.Administrators))
                        {
                            <div class="fa fa-edit">
                                <a asp-controller="Employees" asp-action="EmployeeEdit" asp-route-id="@empl.Id">Изменить</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Сотрудников нет...</p>
}
<hr />
@if (User.IsInRole(Role.Administrators))
{
    <a class="btn btn-info" asp-action="EmployeeEdit">Добавить сотрудника</a>
}
<a asp-controller="Home" asp-action="Index">Домой</a>
